
body {
  margin: 0;
  padding: 0;
  background: #edf5fa;
  font: 12px/170% Verdana, sans-serif;
  color: #494949;
}

input {
  font: 12px/100% Verdana, sans-serif;
  color: #494949;
}

textarea, select {
  font: 12px/160% Verdana, sans-serif;
  color: #494949;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul, ol, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:link, a:visited {
  color: #027AC6;
  text-decoration: none;
}

a:hover {
  color: #0062A0;
  text-decoration: underline;
}

a:active, a.active {
  color: #5895be;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em; /* LTR */
}


#content {
  margin: .5em 1em 1em 1em;
}

#content #page-title {
  margin-bottom: .5em;
}

#content #toc {
  background: #FFFFFF url(gradient.png) repeat-x scroll 0% 100%;
  border: 1px solid #D0EBFF;
  display: table;
  margin: 5px 10px;
  padding: 5px 10px 5px 30px;
}

#content #toc-block {
  background: #FFFFFF url(gradient.png) repeat-x scroll 0% 100%;
  border: 1px solid #D0EBFF;
  float: right;
  margin: 10px;
  padding: 5px 10px;
}

ol#toc li, ul#toc li {
  margin: 0;
}

div.admin-panel {
  background: #FFFFFF url(gradient.png) repeat-x scroll 0% 100%;
  border: 1px solid #D0EBFF;
  margin: 5px 0;
  padding: 1em 1em 1.5em;
}

div.admin-panel .description {
  color: #898989;
  font-size: 0.92em;
  line-height: 150%;
  margin-bottom: 1em;
}

div.admin-panel .body {
  margin: 0;
  padding: 0;
}

div#breadcrumb {
  padding-left: 1em;
  background-color: white;
  border-bottom: 1px solid #ccc;
  height: 2em;
}

div#breadcrumb .breadcrumb {
  padding: 0;
  margin: 0;
}

code, pre {
  border: 1px solid #444;
  background: #f1f1f1;
  margin: 1em;
  padding: .2em;
  display: block;
}
