
.help-items {
  float: left; /* LTR */
  width: 22%;
  padding-right: 3%; /* LTR */
}

.help-items-last {
  padding-right: 0; /* LTR */
}

.help-topic code, .help-topic pre {
  border: 1px solid #444;
  background: #f1f1f1;
  margin: 1em;
  padding: .2em;
  display: block;
}

#toc-block {
  background-color: #EDF5FA;
  border: 1px solid #D0EBFF;
  float: right;
  margin: 5px;
  padding: 5px;
}

.help-left {
  float: left;
}

.help-right {
  float: right;
}

.help-box {
  margin: .5em;
}

.help-navigation {
  border-top: 1px dotted #ccc;
}

.help-previous {
  float: left;
}

.help-next {
  float: right;
}

