
.help-link-inline {
  display: inline;
}

.help-link-align {
  display: block;
  text-align: right;
}

.help-link-icon a {
  width: 16px;
  height: 16px;
  background: transparent url(../../../../../misc/help.png) no-repeat scroll;
  background-position: 1px 50%;
  padding: 1px 0 1px 20px;
}

